.Coin {
  display: grid;

  border-radius: 1rem;
  background-color: #1a2e3b;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #fff;
  &__Image {
    width: 100%;
    // height: 100%;
  }
  &__Price {
    display: flex;
    gap: 1rem;
  }
}
